<div class="container" class="panel-body">

  <div ng-show="errors.global.length"><br>{{ errors.global }}</div>
  <br>

  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">Create account:</div>
        <br>
        <div ng-show="errors.createAccount.length">{{ errors.createAccount }}<br></div>
        <form class="form-inline" name="account" ng-submit="CreateAccount()">
        <div class="form-group">
          <label class="control-label" for="currency">Account currency: </label>
          <select class="form-control" name="currency" id="currency"
                  ng-model="newAccount.currency"
                  ng-init="newAccount.currency = 'USD'">
            <option value="USD" selected >USD</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
            <option value="CHF">CHF</option>
          </select>
        </div>
        <input type="submit" value="Create account" class="btn btn-default" />
      </form>
      <br>
    </div>
  </div>


  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">Create transaction:</div>
        <br>
        <div ng-show="errors.createTransaction.length">{{ errors.createTransaction }}</div>

        <form class="form-inline" name="account" ng-submit="CreateTransactions()">
          <select class="form-control" name="currency" id="currency"
                  ng-model="newTransaction.sourceAccount"
                  ng-options="acc.accountNumber as acc.accountNumber for acc in accounts track by acc.accountNumber">
            <option></option>
          </select>
          ->
          <select class="form-control" name="currency" id="currency"
                  ng-model="newTransaction.destAccount"
                  ng-options="acc.accountNumber  as acc.accountNumber for acc in accounts track by acc.accountNumber">
            <option></option>
          </select>
          <input class="form-control" ng-model="newTransaction.amount" type="number" step="0.01">
        <input type="submit" value="Create transaction" class="btn btn-default" />
      </form>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">Accounts:</div>
      <table class="table table-hover">
        <tr>
          <th>Id</th>
          <th>Account number</th>
          <th>Currency</th>
          <th>Balance</th>
       </tr>
        <tr role="button"
            ng-click="AccountTransactions(acc)"
            ng-repeat="acc in accounts"
            ng-class="acc==selectedAccount ? 'info' : ''">
          <td>{{ acc.id }}</td>
          <td>{{ acc.accountNumber }}</td>
          <td>{{ acc.currency }}</td>
          <td>{{ acc.balance }}</td>
        </tr>
      </table>
    </div>
  </div>


  <div ng-show="transactions" class="row">
    <div class="panel panel-info">
      <div class="panel-heading">Account transactions: <b>{{ selectedAccount.accountNumber }}</b> </div>
      <table class="table">
        <tr>
          <th>Source account</th>
          <th>Destination account</th>
          <th>Source amount</th>
          <th>Destination amount</th>
          <th>Exchange rate</th>
       </tr>
        <tr ng-repeat="trans in transactions">
          <td>{{ trans.sourceAccount }}</td>
          <td>{{ trans.destAccount }}</td>
          <td>{{ trans.sourceAmount }}</td>
          <td>{{ trans.destAmount }}</td>
          <td>{{ trans.exchangeRate }}</td>
        </tr>
      </table>
    </div>
  </div>

</div>